tmux-*.log
# Environments
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
cover/
report/
coverage/

# Logs
logs/
*.log
# Tests
test_pred_test_dataset.csv
test_pred_train_dataset.csv
y_pred_test_dataset.csv
y_pred_train_dataset.csv
